body {
  font-family: 'Open Sans', sans-serif;
  margin: 40px;
}

footer {
  width: 75%;
  color: rgb(110, 110, 110);
}

#by-line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-style: italic;
  font-size: small;
}

#by-line p {
  margin: 0;
}

article {
  width: 80%;
  margin: 40px auto;
  font-size: large;
  color: rgb(70, 70, 70)
}

#socials {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#socials div {
  width: 25px;
  height: 25px;
  background-size: contain;
  margin: 2px;
}

#socials .twitter {
  background-image: url('/static/twitter.svg'), none;
}

#socials .github {
  background-image: url('/static/github.svg'), none;
}

#socials .linkedin {
  background-image: url('/static/linkedin.svg'), none;
}

#socials .mail {
  background-image: url('/static/gmail.svg'), none;
}
