/* Color palette */
:root {
  --text-primary: #2e2e2e;
  --text-secondary: rgb(110, 110, 110);
  --accent-primary: #347de2;
  --accent-secondary: #4e64a0;
  --bg-primary: #e8e8e8;
  --bg-secondary: #dbdbdb;
  --bg-ternary: #cecece;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 40px;
  background-color: var(--bg-primary);
}

footer {
  width: 75%;
  color: var(--text-secondary);
  margin-top: 50px;
}

footer p {
  margin: 6px;
}

#by-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: italic;
  font-size: small;
}

#by-line p {
  margin: 0;
}

article {
  width: 80%;
  margin: 40px auto;
  font-size: large;
  color: var(--text-primary);
}

#socials {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#socials div {
  width: 25px;
  height: 25px;
  background-size: contain;
  margin: 2px;
}

#socials .twitter {
  background-image: url('/static/twitter.svg'), none;
}

#socials .github {
  background-image: url('/static/github.svg'), none;
}

#socials .linkedin {
  background-image: url('/static/linkedin.svg'), none;
}

#socials .mail {
  background-image: url('/static/gmail.svg'), none;
}

a:link {
  color: var(--accent-primary);
  text-decoration: none;
}

a:visited {
  color: var(--accent-secondary);
  text-decoration: none;
}

a:link:hover {
  color: var(--text-secondary);
  text-decoration: underline;
}

pre > code {
  background-color: var(--bg-ternary);
  display: inline-block;
  padding: 8px;
  font-size: medium;
  margin-left: 10%;
  border: var(--text-primary) 2px solid;
  border-radius: 5px;
}

p > code {
  background-color: var(--bg-secondary);
  font-size: medium;
  padding: 2px;
}